*{
	margin: 0;
	padding: 0;
}

ul{
	background-color: grey;
	list-style: none;
	text-align: center;
/*	display: block;*/

}
ul li {
	display: inline-block;
	padding: 15px 5px;
	border-right: 1px solid white;

}
ul li:hover{
	background-color: wheat;
	transition: 0.2s;
}
ul li:first-child() {
	border-right: : 1px solid white;
}
ul li a{
	text-decoration: none;
	font-size: 1.6em;
	color: white;
}
ul li a:hover{
	text-decoration: underline;
	color: red;
	font-size: 1.8em;
	transition: 0.2s;
}
ul li a:hover{
	text-decoration: underline;
	color: red;
	font-size: 1.8em;
	transition: 0.2s;
	background-color: wheat;
}
ul li:last-child{
	border:none;
}
body{
	background-color: #d5d5f5;
}
.white_tab{
	background-color: white;
	padding-left: 50%;
	padding-right: 50%;
	color: white;
	padding-bottom: 10%;
}
.Hello{
	color: black;
	font-size: 1.5em;
	text-align: center;
	padding-bottom: 30px;

}
.amin{
	background-color: wheat;
	text-align: center;
}
.description{
	font-size: 1.2em;
}
.carusel-slider{
	background-color: black;
}
.carusel-cell{
	width: 50%;
	height: 250px;
	background-color: wheat;
	margin-right: 10px;
	border-radius: 5px;
	counter-increment:carusel-cell;

}
.carusel-cell:before{
	display: block;
	text-align: center;
	line-height: 200px;
	font-size: 80px;

}

footer{
	padding: 20px 0px 20px 10px;
	border-top: 2px solid red;
}