ul {
	list-style: none; 
	margin: 0; 
	padding-left: 0; 
	margin-top:25px; 
	background:#819A12; 
	height: 50px;
	}
a {
	border-radius: 15px; 
	text-decoration: none; 
	background:#124202; 
	color:#fff; 
	padding:0px 15px; 
	font-family: arial; 
	line-height:50px; 
	display: block; 
	border-right: 1px solid #677B27; 
	-moz-transition: all 0.3s 0.01s ease; 
	-o-transition: all 0.3s 0.01s ease;
	-webkit-transition: all 0.3s 0.01s ease;
	}
a:hover {
	background:#D43737;
	border-radius: 0px;
}
li {
	border-radius: 0px;
  	float:left; 
  	position:relative;
}
	 
	
li > ul {
	position:absolute;
	top:25px;
	display:none;
}
 

li:hover > ul {
	display:block;
	width:250px;
	border-radius: 20px;
}
li:hover > ul > li {
	float:none; 
	border-radius: 0px;
}